<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PKIKeyRecovery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
        <PKIKeyRecovery.Properties.Settings>
            <setting name="ADCS_Host" serializeAs="String">
                <value />
            </setting>
            <setting name="ADCS_CN" serializeAs="String">
                <value />
            </setting>
            <setting name="ADDS_Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="ADDS_ContainerDN" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="PC_PasswordDistributionMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="Mobile_PasswordDistributionMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="Legal_PasswordDistributionMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="PC_UseStrongPasswords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Legal_UseStrongPasswords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mobile_UseStrongPasswords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PC_AttachKeyToEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Legal_AttachKeyToEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mobile_AttachKeyToEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PC_KeyRetrievalLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Mobile_KeyRetrievalLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Legal_KeyRetrievalLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PC_DeleteKeyAfterSending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Legal_DeleteKeyAfterSending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mobile_DeleteKeyAfterSending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mailhost" serializeAs="String">
                <value />
            </setting>
            <setting name="mailSender" serializeAs="String">
                <value />
            </setting>
            <setting name="Legal_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="PC_Message" serializeAs="String">
                <value />
            </setting>
            <setting name="Mobile_Message" serializeAs="String">
                <value />
            </setting>
            <setting name="Legal_Message" serializeAs="String">
                <value />
            </setting>
        </PKIKeyRecovery.Properties.Settings>
    </applicationSettings>
</configuration>
