<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyPKIView" version="1.1.2" targetFramework="net471" />
  <package id="MJBLogger" version="1.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="morelinq" version="3.3.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net461" />
  <package id="System.DirectoryServices" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net471" />
</packages>