<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyPKIView" version="1.1.0" targetFramework="net461" />
  <package id="MJBLogger" version="1.0.0" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net461" />
  <package id="System.DirectoryServices" version="4.7.0" targetFramework="net461" />
</packages>